# Lista de Exercícios 02

###### Acadêmicos: Gabriel Schneider de Jesus e Luciane Tedesco

<img src="Images/sql-injection.png" width = 950>

## Questão 1
Demostração da possibilidade do usuário injetar comandos SQL num acesso ao banco de dados que é realizado pela aplicação.

#### 1.1 Conectando ao banco de dados

In [1]:
import psycopg2

connection = psycopg2.connect(user = "postgres",
                                password = "4560",
                                host="localhost",
                                port = "5432",
                                database = "pg_db")
cursor = connection.cursor()

#### 1.2 Criar e popular uma tabela

Foi utilizada neste exemplo uma tabela nomeada professor, com os campos nome, titulação e departamento

In [2]:
# Criando a tabela
cursor.execute("""CREATE TABLE professor (id_professor int, nm_professor varchar(50), 
                 ds_titulacao varchar(30), ds_departamento varchar(30), PRIMARY KEY(id_professor));""")

In [3]:
# Populando a tabela
cursor.execute("INSERT INTO professor (id_professor, nm_professor, ds_titulacao, ds_departamento) VALUES (1, 'Gilvan Justino', 'Mestrado', 'Sistemas e Computação');")
cursor.execute("INSERT INTO professor (id_professor, nm_professor, ds_titulacao, ds_departamento) VALUES (2, 'Aurélio Faustino Hoppe', 'Mestrado', 'Sistemas e Computação');")
cursor.execute("INSERT INTO professor (id_professor, nm_professor, ds_titulacao, ds_departamento) VALUES (3, 'Georges Cherry Rodrigues', 'Mestrado', 'Matemática');")
cursor.execute("INSERT INTO professor (id_professor, nm_professor, ds_titulacao, ds_departamento) VALUES (4, 'Luciana Pereira de Araújo Kohler', 'Mestrado', 'Sistemas e Computação');")
cursor.execute("INSERT INTO professor (id_professor, nm_professor, ds_titulacao, ds_departamento) VALUES (5, 'Everaldo Artur Grahl', 'Mestrado', 'Sistemas e Computação');")
cursor.execute("INSERT INTO professor (id_professor, nm_professor, ds_titulacao, ds_departamento) VALUES (6, 'Francisco Adell Péricas', 'Mestrado', 'Sistemas e Computação');")
cursor.execute("INSERT INTO professor (id_professor, nm_professor, ds_titulacao, ds_departamento) VALUES (7, 'Andreza Sartori', 'Doutorado', 'Sistemas e Computação');")
cursor.execute("INSERT INTO professor (id_professor, nm_professor, ds_titulacao, ds_departamento) VALUES (8, 'Dalton Solano dos Reis', 'Mestrado', 'Sistemas e Computação');")
cursor.execute("INSERT INTO professor (id_professor, nm_professor, ds_titulacao, ds_departamento) VALUES (9, 'Marcel Hugo', 'Mestrado', 'Sistemas e Computação');")
cursor.execute("INSERT INTO professor (id_professor, nm_professor, ds_titulacao, ds_departamento) VALUES (10, 'Joyce Martins', 'Mestrado', 'Sistemas e Computação');")

#### 1.3 Aplicando SQL Injection

In [4]:
def show_records():
    # exibe todos os registros
    print('\nRegistro(s): ', cursor.rowcount)
    for row in cursor.fetchall():
        print (row)

In [5]:
# Exemplo 01: 'name' que retorna todos os registros da tabela
# entrada: Gilvan Justino' or 1=1 --
name = input('Digite o nome do professor: ')
cursor.execute("SELECT * FROM professor WHERE nm_professor = '%s';" % name)
show_records()

Digite o nome do professor: Gilvan Justino' or 1=1 --

Registro(s):  10
(1, 'Gilvan Justino', 'Mestrado', 'Sistemas e Computação')
(2, 'Aurélio Faustino Hoppe', 'Mestrado', 'Sistemas e Computação')
(3, 'Georges Cherry Rodrigues', 'Mestrado', 'Matemática')
(4, 'Luciana Pereira de Araújo Kohler', 'Mestrado', 'Sistemas e Computação')
(5, 'Everaldo Artur Grahl', 'Mestrado', 'Sistemas e Computação')
(6, 'Francisco Adell Péricas', 'Mestrado', 'Sistemas e Computação')
(7, 'Andreza Sartori', 'Doutorado', 'Sistemas e Computação')
(8, 'Dalton Solano dos Reis', 'Mestrado', 'Sistemas e Computação')
(9, 'Marcel Hugo', 'Mestrado', 'Sistemas e Computação')
(10, 'Joyce Martins', 'Mestrado', 'Sistemas e Computação')

In [6]:
# Exemplo 02: 'name' que deleta registros da tabela
# entrada: Gilvan Justino' --; DELETE FROM professor;
name = input('Digite o nome do professor: ')
cursor.execute("SELECT * FROM professor WHERE nm_professor = '%s';" % name)
show_records()

Digite o nome do professor: Gilvan Justino' --; DELETE FROM professor;

Registro(s):  1
(1, 'Gilvan Justino', 'Mestrado', 'Sistemas e Computação')

#### 1.4 Finalizando a conexão

In [7]:
if (connection):
    cursor.close()
    connection.close()

A implementação de uma aplicação desta maneira traz inúmeros problemas, pois o usuário pode controlar o banco de dados, usufruindo ou alterando informações não permitidas para este usuário.

## Questão 2
Implementação da validação dos dados de entrada através de uma Lista branca para evitar o problema de SQL Injection

<img src="Images/whitelisted.png" width = 950>

#### 2.1 Conectando ao banco de dados

In [8]:
import psycopg2

connection = psycopg2.connect(user = "postgres",
                                password = "4560",
                                host="localhost",
                                port = "5432",
                                database = "pg_db")
cursor = connection.cursor()

#### 2.2 Criar e popular uma tabela

Foi utilizada neste exemplo uma tabela nomeada professor, com os campos nome, titulação e departamento

In [9]:
# Criando a tabela
cursor.execute("""CREATE TABLE professor (id_professor int, nm_professor varchar(50), 
                 ds_titulacao varchar(30), ds_departamento varchar(30), PRIMARY KEY(id_professor));""")

In [10]:
# Populando a tabela
cursor.execute("INSERT INTO professor (id_professor, nm_professor, ds_titulacao, ds_departamento) VALUES (1, 'Gilvan Justino', 'Mestrado', 'Sistemas e Computação');")
cursor.execute("INSERT INTO professor (id_professor, nm_professor, ds_titulacao, ds_departamento) VALUES (2, 'Aurélio Faustino Hoppe', 'Mestrado', 'Sistemas e Computação');")
cursor.execute("INSERT INTO professor (id_professor, nm_professor, ds_titulacao, ds_departamento) VALUES (3, 'Georges Cherry Rodrigues', 'Mestrado', 'Matemática');")
cursor.execute("INSERT INTO professor (id_professor, nm_professor, ds_titulacao, ds_departamento) VALUES (4, 'Luciana Pereira de Araújo Kohler', 'Mestrado', 'Sistemas e Computação');")
cursor.execute("INSERT INTO professor (id_professor, nm_professor, ds_titulacao, ds_departamento) VALUES (5, 'Everaldo Artur Grahl', 'Mestrado', 'Sistemas e Computação');")
cursor.execute("INSERT INTO professor (id_professor, nm_professor, ds_titulacao, ds_departamento) VALUES (6, 'Francisco Adell Péricas', 'Mestrado', 'Sistemas e Computação');")
cursor.execute("INSERT INTO professor (id_professor, nm_professor, ds_titulacao, ds_departamento) VALUES (7, 'Andreza Sartori', 'Doutorado', 'Sistemas e Computação');")
cursor.execute("INSERT INTO professor (id_professor, nm_professor, ds_titulacao, ds_departamento) VALUES (8, 'Dalton Solano dos Reis', 'Mestrado', 'Sistemas e Computação');")
cursor.execute("INSERT INTO professor (id_professor, nm_professor, ds_titulacao, ds_departamento) VALUES (9, 'Marcel Hugo', 'Mestrado', 'Sistemas e Computação');")
cursor.execute("INSERT INTO professor (id_professor, nm_professor, ds_titulacao, ds_departamento) VALUES (10, 'Joyce Martins', 'Mestrado', 'Sistemas e Computação');")

#### 2.3 Tentativa de aplicar SQL Injection - Prevenção com lista branca

Nesta sessão, é implementado uma lista branca e testado as entradas cujo tiveram problema de SQL Injection anteriormente.

In [11]:
# Implementação da lista branca
possible_characters = [' ', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 
                       'r', 's', 't', 'u', 'v', 'x', 'z','á', 'ã', 'à', 'â', 'í', 'ì', 'î', 'ú', 'ù', 'û', 'é', 
                       'è', 'ê', 'ó', 'ò', 'õ', 'ô']

def validate_input(name): 
    for letter in name.lower():
        if letter not in possible_characters:
            raise Exception("Caractere \'" + letter + "\' não permitido.")

def show_records():
    # exibe todos os registros
    print('\nRegistro(s): ', cursor.rowcount)
    for row in cursor.fetchall():
        print (row)

In [12]:
# Exemplo 1, utilizado anteriormente: Gilvan Justino' or 1=1 -- 
try:
    name = input('Digite o nome do professor: ')
    validate_input(name)
    cursor.execute("SELECT * FROM professor WHERE nm_professor = '%s';" % name)
    show_records()
    
except (Exception) as error:
    print ("Ocorreu um erro: ", error)

Digite o nome do professor: Gilvan Justino' or 1=1 --
Ocorreu um erro:  Caractere ''' não permitido.

In [13]:
# Exemplo 2, utilizado anteriormente: Gilvan Justino' --; DELETE FROM professor;
try:
    name = input('Digite o nome do professor: ')
    validate_input(name)
    cursor.execute("SELECT * FROM professor WHERE nm_professor = '%s';" % name)
    show_records()
    
except (Exception) as error:
    print ("Ocorreu um erro: ", error)

Digite o nome do professor: Gilvan Justino' --; DELETE FROM professor;
Ocorreu um erro:  Caractere ''' não permitido.

#### 2.4 Finalizando a conexão

In [14]:
if (connection):
    cursor.close()
    connection.close()

Para corrigir a vulnerabilidade de entradas inadequadas de dados, utilizamos uma lista branca.

Nesta situação, são validadas as entradas com a utilização de uma lista que contém todos os caracteres permitidos.

Com isto, o usuário não conseguirá alterar o comando sql.

## Questão 3
Implementação da validação de dados de entrada através de queries parametrizáveis.

<img src="Images/queries.jpg">

#### 3.1 Conectando ao banco de dados

In [15]:
import psycopg2

connection = psycopg2.connect(user = "postgres",
                                password = "4560",
                                host="localhost",
                                port = "5432",
                                database = "pg_db")
cursor = connection.cursor()

#### 3.2 Criar e popular uma tabela

Foi utilizada neste exemplo uma tabela nomeada professor, com os campos nome, titulação e departamento

In [16]:
# Criando a tabela
cursor.execute("""CREATE TABLE professor (id_professor int, nm_professor varchar(50), 
                 ds_titulacao varchar(30), ds_departamento varchar(30), PRIMARY KEY(id_professor));""")

In [17]:
# Populando a tabela
cursor.execute("INSERT INTO professor (id_professor, nm_professor, ds_titulacao, ds_departamento) VALUES (1, 'Gilvan Justino', 'Mestrado', 'Sistemas e Computação');")
cursor.execute("INSERT INTO professor (id_professor, nm_professor, ds_titulacao, ds_departamento) VALUES (2, 'Aurélio Faustino Hoppe', 'Mestrado', 'Sistemas e Computação');")
cursor.execute("INSERT INTO professor (id_professor, nm_professor, ds_titulacao, ds_departamento) VALUES (3, 'Georges Cherry Rodrigues', 'Mestrado', 'Matemática');")
cursor.execute("INSERT INTO professor (id_professor, nm_professor, ds_titulacao, ds_departamento) VALUES (4, 'Luciana Pereira de Araújo Kohler', 'Mestrado', 'Sistemas e Computação');")
cursor.execute("INSERT INTO professor (id_professor, nm_professor, ds_titulacao, ds_departamento) VALUES (5, 'Everaldo Artur Grahl', 'Mestrado', 'Sistemas e Computação');")
cursor.execute("INSERT INTO professor (id_professor, nm_professor, ds_titulacao, ds_departamento) VALUES (6, 'Francisco Adell Péricas', 'Mestrado', 'Sistemas e Computação');")
cursor.execute("INSERT INTO professor (id_professor, nm_professor, ds_titulacao, ds_departamento) VALUES (7, 'Andreza Sartori', 'Doutorado', 'Sistemas e Computação');")
cursor.execute("INSERT INTO professor (id_professor, nm_professor, ds_titulacao, ds_departamento) VALUES (8, 'Dalton Solano dos Reis', 'Mestrado', 'Sistemas e Computação');")
cursor.execute("INSERT INTO professor (id_professor, nm_professor, ds_titulacao, ds_departamento) VALUES (9, 'Marcel Hugo', 'Mestrado', 'Sistemas e Computação');")
cursor.execute("INSERT INTO professor (id_professor, nm_professor, ds_titulacao, ds_departamento) VALUES (10, 'Joyce Martins', 'Mestrado', 'Sistemas e Computação');")

#### 3.3 Tentativa de aplicar SQL Injection - Prevenção com querries parametrizadas

Nesta sessão, é implementado a função execute_select, para previnir o problema de SQL Injection demonstrado na sessão 1.

In [18]:
def execute_select(name):
    # realiza o comando select a partir de uma querry parametrizada
    querry = "SELECT * FROM professor WHERE nm_professor = (%s);"
    data = (name,)
    cursor.execute(querry, data)
    
def show_records():
    # exibe todos os registros
    print('\nRegistro(s): ', cursor.rowcount)
    for row in cursor.fetchall():
        print (row)

In [19]:
# Exemplo 1: Gilvan Justino' or 1=1 -- 
name = input('Digite o nome do professor: ')
execute_select(name)
show_records()

Digite o nome do professor: Gilvan Justino' or 1=1 --

Registro(s):  0

In [20]:
# Exemplo 2: Gilvan Justino' --; DELETE FROM professor;
name = input('Digite o nome do professor: ')
execute_select(name)
show_records()

Digite o nome do professor: Gilvan Justino' --; DELETE FROM professor;

Registro(s):  0

#### 3.4 Finalizando a conexão

In [21]:
if (connection):
    cursor.close()
    connection.close()

Para corrigir a vulnerabilidade de entradas inadequadas de dados, utilizamos o comando parametrizado. 

Nesta situação, primeiro é enviado o comando ao banco sem os valores de passados pelo usuário.

Com isto, o usuário não conseguirá alterar o comando sql.